.about-site {

}

.container {
}

.about-site__container {
}

.about-site__inner-top {
    gap: 128px;
}

.about-site__img img{
    max-width: 85%;
}

.about-site__content {
    max-width: 622px;
}

.about-site__title {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    line-height: 59px;
    color: var(--text-gray-color);
    padding-bottom: 33px;
}

.title__yl {
    color: var(--text-yellow-color);
}

.about-site__subtitle {
    color: var(--text-gray-color);
    font-size: var(--font-size-text);
}

.about-site__cards {
    gap: 64px;
    justify-content: center;
    align-items: center;
}


.about-site__card {
    border-radius: 24px;
    background: rgb(253, 205, 121);
    width: 420px;
    height: 420px;
}

.about-site__card-tittle {
    color: rgb(25, 29, 40);
    font-size: 30px;
    font-weight: var(--font-weight-title);
    line-height: 37px;
    max-width: 200px;

    padding: 42px 0 64px 23px;
}

.about-site__card-subtitle {
    color: rgb(75, 75, 75);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-text);
    line-height: 133%;

    padding: 0 0 152px 23px;
}

.about-site__btn {
    color: rgb(75, 75, 75);
    font-family: Montserrat;
    font-size: var(--font-weight-text);
    font-weight: var(--font-weight-text);
    line-height: 133%;
    text-align: left;

    padding-left: 23px;
}
