.history {
}

.history__container {
}


.history__title span {
    color: var(--text-yellow-color);
}


.history__card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    padding: 16px;
    gap: 16px;
    display: flex;
}

.history__card--visible {
    opacity: 1;
    transform: translateY(0);
}



.history__card__image {
}

.history__card__content {
}

.history__card__header {
}


.history__card__title {
    color: rgb(187, 187, 187);
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

.history__card__date {
}


.history__card__text {
}

.history__button button {
    color: rgb(25, 29, 40);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 24px;
    padding: 27px 102px;
    background: rgb(253, 205, 121);
}

@media (max-width: 1050px) {
    .history__card {
        padding: 30px 16px;
    }
    .history__card__title {
        font-size: 28px;
    }
    .history__card__image {
        max-width: 300px
    }
    .history__card__image img {
        width: 100%;
    }
    .history__card__date {
        font-size: 12px;
        width: 100px;
        text-align: right;
    }
    .history__card__text {
        font-size: 14px;
        max-width: 600px;
    }
}

@media (max-width: 768px) {

    .history__card__title {
        font-size: 20px;
        line-height: 130%;

    }
    .history__card__image {
        width: 100%;

    }
    .history__card__image img {
        width: 100%;
    }
    .history__card__date {
        font-size: 10px;
        width: 100px;
        text-align: right;
        position: absolute;
        right: 0;
        top: 0;
    }
    .history__card__text {
        font-size: 12px;
        max-width: 400px;
    }
    .history__card__content {
        position: relative;
        padding: 30px 0;
        width: 100%;
    }
    .history__button {
        padding-top: 0;
    }
    .history__button button {
        padding: 20px 70px;

    }
}

@media (max-width: 576px) {
    .history__card {
        flex-direction: column;
    }
    .history__card__image {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    .history__card__text{
        max-width: 100%;
    }
}

