.slider {

}

.container {
}

.container__slider {
}


.slider__title {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    line-height: 59px;
    color: var(--text-gray-color);

    padding-bottom: 52px;
}

.slider__title span {
    color: var(--text-yellow-color);
}

.slider__cards {
    padding-bottom: 30px;
}

.slider__card {
    justify-content: center;
    align-items: center;
    gap: 70px;

    padding-bottom: 120px;
}

.slider__img {
    max-width: 30%;
}

.slider__card-content {

}

.card__content-top {
    padding-bottom: 16px;
}

.slider__card-title {
    color: var(--text-gray-color);
    font-size: 36px;
    font-weight: var(--font-weight-title);
    line-height: 44px;

    max-width: 295px;
}

.slider__card-data {
    color: var(--text-gray-color);
}

.slier__card-subtitle {
    color: var(--text-gray-color);
    font-size: var(--font-size-text);
    line-height: 133%;

    max-width: 845px;
}

.slider__btn button{
    box-sizing: border-box;
    border: 2px solid rgb(253, 205, 121);
    border-radius: 24px;

    color: rgb(253, 205, 121);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;

    padding: 27px 102px;

    transition: 0.4s;

}

.slider__btn button:hover {
    background: rgb(253, 205, 121);
    color: rgb(25, 29, 40);
}

.slider__btn {
    display: flex;
    align-items: center;
    justify-content: center;
}